name: Build and push step-download ext-tools-toolchain small-flash
run-name: ${{ inputs.ref }} ${{ inputs.target }}

on:
  # push:
  pull_request:
  workflow_dispatch:
    inputs:
      distros:
        description: "Distribution to use as the base docker image (debian or alpine or both)"
        # default: "debian alpine"
        default: "debian"
        required: false
      ref:
        description: "Tag or branch to deploy (empty for main) - only relases are supported"
        default: "v24.10.5"
        required: false
      target:
        description: "Single target to build (empty for all)"
        required: false
        default: "ath79/generic"
      prefix:
        description: "Prefix for the image name (add '-' at the end)"
        required: false

jobs:
  generate_matrix:
    name: Set matrix
    runs-on: ubuntu-latest

    outputs:
      buildroots: ${{ steps.find_targets.outputs.buildroots }}
      ref: ${{ steps.find_targets.outputs.ref }}
      version: ${{ steps.find_targets.outputs.version }}
      version_path: ${{ steps.find_targets.outputs.version_path }}

    steps:
      - name: Set release
        if: github.event.inputs.ref != ''
        run: |
          export REF=${{ github.event.inputs.ref == 'master' && 'main' || github.event.inputs.ref }}
          echo "REF=$REF" >> "$GITHUB_ENV"

          case $REF in
            main)
              VERSION=SNAPSHOT
              echo "VERSION_PATH=snapshots" >> "$GITHUB_ENV"
            ;;
            openwrt-*)
              VERSION=${REF//openwrt-/}-SNAPSHOT
              echo "VERSION_PATH=releases/$VERSION" >> "$GITHUB_ENV"
            ;;
            v*)
              VERSION=${REF//v/}
              echo "VERSION_PATH=releases/$VERSION" >> "$GITHUB_ENV"
              echo "RUN_SETUP=1" >> "$GITHUB_ENV"
            ;;
            *)
              echo "No tag or branch found"
              exit 1
            ;;
          esac
          echo "VERSION=$VERSION" >> "$GITHUB_ENV"

      - name: Checkout
        uses: actions/checkout@v6
        with:
          repository: openwrt/openwrt
          ref: ${{ env.REF}}

      - name: Set targets
        id: find_targets
        run: |
          TARGET_FILTER="${{ github.event.inputs.target }}"
          DISTROS="$(${{ github.event.inputs.distros != '' }} && echo '${{github.event.inputs.distros}}' || echo 'debian alpine')"

          # buildroots & rootfs
          JSON_BR='['
          FIRST_BR=1

          for DISTRO in $DISTROS; do

            while read -r line;
            do
              TARGET=$(echo "$line" | cut -d " " -f 1)

              [[ $FIRST_BR -ne 1 ]] && JSON_BR="$JSON_BR"','
              FIRST_BR=0

              JSON_BR="$JSON_BR"'{"distro": "'"$DISTRO"'", "target":"'"$TARGET"'"}'

            done <<< $(perl ./scripts/dump-target-info.pl targets 2>/dev/null | ([[ -n "$TARGET_FILTER" ]] && grep -w "$TARGET_FILTER" || cat))
          
          done

          JSON_BR='{"include":'"$JSON_BR"']}'
          echo -e "\n---- buildroots ----\n"
          echo "$JSON_BR" | jq
          echo -e "\n---- buildroots ----\n"
          echo "buildroots=$JSON_BR" >> "$GITHUB_OUTPUT"

          echo "ref=${REF:-main}" >> "$GITHUB_OUTPUT"
          echo "version=${VERSION:-SNAPSHOT}" >> "$GITHUB_OUTPUT"
          echo "version_path=${VERSION_PATH:-snapshots}" >> "$GITHUB_OUTPUT"

  push-buildroot-container:
    name: buildroot
    runs-on: ubuntu-latest
    needs: generate_matrix
    strategy:
      fail-fast: False
      matrix: ${{fromJson(needs.generate_matrix.outputs.buildroots)}}

    steps:
      # - name: Login to GitHub Container Registry
      #   if: github.event_name != 'pull_request'
      #   uses: docker/login-action@v3
      #   with:
      #     registry: ghcr.io
      #     username: ${{ github.actor }}
      #     password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to Docker.io Container Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}

      # - name: Login to Quay.io Container Registry
      #   if: github.event_name != 'pull_request'
      #   uses: docker/login-action@v3
      #   with:
      #     registry: quay.io
      #     username: ${{ secrets.QUAY_USER }}
      #     password: ${{ secrets.QUAY_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            docker.io/agave0/openwrt-buildroot
          flavor: |
            latest=false
            prefix=${{ github.event.inputs.prefix }}
            suffix=${{ matrix.distro == 'alpine' && '-alpine' || '' }}-step-download
          tags: |
            ${{ needs.generate_matrix.outputs.ref }}
            ${{ needs.generate_matrix.outputs.version }}
            master,enable=${{ needs.generate_matrix.outputs.ref == 'main' }}
            latest,enable=${{ needs.generate_matrix.outputs.version == 'SNAPSHOT' && matrix.target == 'x86/64'}}

      - name: Build and push
        id: build
        uses: docker/build-push-action@v6
        with:
          no-cache: false
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          file: ${{ matrix.distro == 'debian' && 'Dockerfile.buildroot.step-download' || 'Dockerfile.buildroot.step-download.alpine' }}
          build-args: |
            OPENWRT_VERSION=v${{ needs.generate_matrix.outputs.version }}

      # - name: Smoke test
      #   run: |
      #     docker run ${{ steps.build.outputs.imageid }} \
      #     bash -c ' \
      #       cd $HOME && \
      #       (stat Makefile || bash setup.sh) && \
      #       make image PACKAGES=coreutils-echo \
      #       '

      # - name: Push
      #   if: github.event_name != 'pull_request'
      #   uses: docker/build-push-action@v6
      #   with:
      #     push: true
      #     no-cache: true
      #     tags: ${{ steps.meta.outputs.tags }}
      #     file: ${{ matrix.distro == 'debian' && 'Dockerfile.buildroot.small-flash' || 'Dockerfile.buildroot.alpine.small-flash' }}
      #     labels: ${{ steps.meta.outputs.labels }}
      #     build-args: |
      #       OPENWRT_VERSION=${{ needs.generate_matrix.outputs.version }}
      #       ARCH_TARGET=${{ matrix.arch_target }}
      #       TARGET=${{ matrix.target }}

      - name: Cleanup Docker containers
        run: docker system prune -f
